<html>
<head>
<link rel="stylesheet" href="/bookM/plugins/Flat-UI-master/dist/css/flat-ui.css">
</head>
<body>
<div class="login-form">
    <div class="login-form">
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" />
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <a class="btn btn-primary btn-lg btn-block" href="#">Register</a>
    </div>
</div>

</body>
</html>